{% extends 'base.html.twig' %}

{% block title %}Bonjour {{ currentuUsers.username }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<main>
    <section class="d-flex justify-content-center flex-column align-items-center">
        <div class="username">
            <p><i>Nom d'utilisateur : </i>{{ currentuUsers.username }}</p>
        </div>
        <div class="annonces">
            <p><i>Nombre d'annonces : </i>{{ number_post }}</p>
        </div>
        <div class="email">
            <p><i>Email : </i>{{ currentuUsers.email }}</p>
        </div>
        <div class="share w-25">
            <a href=""><button class="button-empty long mb-3" onclick="function copyPageUrl() {
            const pageUrl = window.location.href;

    // Créer un élément temporaire pour stocker l'URL
    const tempElement = document.createElement('textarea');
    tempElement.value = pageUrl;
    tempElement.setAttribute('readonly', '');
    tempElement.style.position = 'absolute';
    tempElement.style.left = '-9999px';

    // Ajouter l'élément temporaire au corps du document
    document.body.appendChild(tempElement);

    // Sélectionner et copier le contenu de l'élément temporaire
    tempElement.select();
    document.execCommand('copy');

    // Supprimer l'élément temporaire
    document.body.removeChild(tempElement);
            }
            copyPageUrl()" >Partager</button></a>
        </div>
    </section>
</main>
{% endblock %}
