{% extends 'base.html.twig' %}

{% block title %}Accueil DealGames{% endblock %}

{% block body %}

    <article>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                        <img src="{{ asset('images/7072.jpg') }}" class="d-block w-100" alt="...">
                    <div class="text-img carousel-caption d-none d-md-block">
                        <h2>Découvrez les nouvelles annonces</h2>
                        <button class="button-empty">Voir plus ?</button>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="{{ asset('images/9094.jpg') }}" class="d-block w-100" alt="...">
                    <div class="text-img-2 carousel-caption d-none d-md-block">
                        <h2>Découvrez les nouvelles annonces</h2>
                        <button class="button-empty">Voir plus ?</button>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="{{ asset('images/10545.jpg') }}" class="d-block w-100" alt="...">
                    <div class="text-img-3 carousel-caption d-none d-md-block">
                        <h2>Découvrez les nouvelles annonces</h2>
                        <button class="button-empty">Voir plus ?</button>
                    </div>
                </div>
{#                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">#}
{#                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                    <span class="visually-hidden">Previous</span>#}
{#                </button>#}
{#                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">#}
{#                    <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                    <span class="visually-hidden">Next</span>#}
                </button>
            </div>
        </div>
    </article>
    <article>
        <h3>
            Les dernières annonces
        </h3>
        <div class="card-container">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('images/0e7dadd871f9043b791e34d32f7862ef6a47c41c.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rocket League</h5>
                    <p class="card-text">Christopho207</p>
                    <div>
                        <button class="button-empty"><a>Voir plus</a></button>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}
