{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <main>
        <div class="filter mt-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle my-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Type
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">PS5</a></li>
                        <li><a class="dropdown-item" href="#">PS4</a></li>
                        <li><a class="dropdown-item" href="#">Xbox</a></li>
                        <li><a class="dropdown-item" href="#">PC</a></li>
                        <li><a class="dropdown-item" href="#">Switch</a></li>
                        <li><a class="dropdown-item" href="#">Accessoires</a></li>
                    </ul>
            </div>
        </div>
        <div class="card-container d-flex justify-content-around flex-wrap">
            {% for article in articles %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="card-img-top" alt="image article">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">Il y a 1 mois</p>
                        </div>
                        <p class="card-text">{{ article.description }}</p>
                        <div class="d-flex justify-content-between">
                            <button class="button-empty"><a>Voir plus</a></button>
                            <button class="fav"><img src="{{ asset('images/Icon-feather-heart.png') }}" class="card-img-top" alt="favorite"></button>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </main>
{% endblock %}
