/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* end reset css */

/* color */

root {
    --background-white: #FAFAFA;
    --blue: #131647 !important;
    --purple: #5A0BA9;
    --gray: #555B61;
    --white-purple: #DAC2F2;
}


body {
    background-color:  #FAFAFA;
}

a:hover {
    text-decoration: white;
}

.navbar {
    background-color: #5A0BA9 !important;
}

.connect {
    color: #FAFAFA !important;
}

.nav-cate * {
    color: #FAFAFA !important;
}

nav {
    background-color: #131647;
}

footer {
    background-color: #5A0BA9;
}

.text-muted {
    color: #FAFAFA  !important;
}

/* end color */

.header, main {
    margin: 0 3rem;
}

a {
    text-decoration: none !important;
}

.logo {
    width: 20rem !important;
}

.nav-cate {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem 0;
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-logo{
    background-image:url('../../public/images/Icon-feather-search.png');
    background-position: 95%;
    background-repeat:no-repeat;
    background-size: 12%;
    padding-left:1px;
    font-size: 16px;
    width: 12rem;
    border-radius: 8px;
    height: 2rem;
    border: none;
    padding: 10px;
}

.text-img, .text-img-2, .text-img-3 {
    margin-bottom: 10%;
}

/*.text-img-3 h2{*/
/*    color: black;*/
/*}*/

h3 {
    text-align: center;
    margin: 3rem 0;
}

.button-empty {
    padding: 0.5rem 1rem;
    border-color: #5A0BA9;
    border-radius: 8px;
    border-width: 2px;
    background-color: #FAFAFA;
    color: #5A0BA9;
}

.button-empty a {
    color: #5A0BA9 !important;
}

.button-empty:hover {
    background-color: #5A0BA9;
}

.button-empty:hover ,.button-empty:hover a {
    color: #FAFAFA !important;
}.

 button-empty:hover {
    color: #FAFAFA !important;
}

 .long {
     width: 100%;
 }

.button-full {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #5A0BA9;
    color: #FAFAFA;
}

.button-full:hover {
    background-color: #FAFAFA;
    color: #5A0BA9;
    border: #5A0BA9 2px solid;
}

.fav {
    border: none;
}

.card {
    margin: 0.5rem;
}

.add-products {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-products * {
    margin: 0.2rem 0;
}

.title-container, .description-title, .image-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.add-products form {
    width: 50%;
    height: 30%;
    margin-top: -20%;
}

/*.image-container *{*/
/*    width: 30%;*/
/*}*/

.vich-image img {
    width: 30%;
}

/*.add-products form {*/
/*    width: 50%;*/
/*}*/

.details-img-container {
    width: 25rem;
}

.details-product-container {
    display: flex;
    justify-content: space-between;
}

.description-container {
    width: 50%;
}

.card {
    border-color: #5A0BA9;
}

i {
    color: #5A0BA9;
}